<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contactame</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Pagina de videojuegos, novedades de Kingdom Hearts, Pokemon, Manga y Anime. Tambien puedes suscribirte al Newsletter.">
<meta name="keywords" content="Kingdom Hearts, Pokemon, Manga, Anime, Sword Art Online, Pokemon Shield">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- Font Awesome icons -->
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../assets/css/styles.css">
<!--Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Spirax&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
<link rel="icon" type="image/jpeg" href="../img/logo.png" />
</head>
<body id="indexbackground">

<div class="container">

<div class="jumbotron text-center">
<!-- Barra de Navegacion -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="../index.html">Yuki<i class="fab fa-fort-awesome-alt"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../views/khgames.html" target="blank">Kingdom Hearts Saga</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/multimedia.html" target="blank">Multimedia</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="../views/pokemon.html" target="blank">Pokemon Center</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="../views/manga.html" target="blank">Manga</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="../views/contact.html" target="blank">Contact</a>
      </li>
    </ul>
  </div>  
</nav>
<br>
<!--Redes Sociales-->
    <div class="row justify-content-end">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a class="btn btn-outline-dark btn-social mx-1" href="https://www.instagram.com/YukiAegyo/" target="blank"><i class="fab fa-fw fa-instagram"></i></a> 
            <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/YukiAegyo" target="blank"><i class="fab fa-github"></i></a>
            <a class="btn btn-outline-dark btn-social mx-1" href="https://www.linkedin.com/in/euge/" target="blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>

</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
  <img src="../img/animecontact.png" width="40%" alt="Anime contact section">
</div>
</div>


<br>
<h3 class="newsletter">Puedo realizar tu página web, el limite es tu imaginación. Por favor no dejes de contactarme.</h3>
<br>
<br>
<h3 class="contacttitle">Contactame</h3>
<br>
<!-- Formulario Bootstrap SIGN UP -->

      <section id="pagina_c">
        <form action="../assets/contact.php" method="POST">
          <div class="row" id="contacto">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="Nombre" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="Apellido" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="email" class="form-control mt-2" placeholder="Email" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="number" class="form-control mt-2" placeholder="Telefono" required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Comentarios" rows="3" required></textarea>
              </div>
            </div>
            <div class="col-12">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                  Acepto las condiciones
                </label>
              </div>
              <br>
              <input class="boton_enviar" type="submit" name="enviar">
          <input class="boton_borrar" type="reset" value="Borrar">     
            </div>
            </div>
      </div>
   
    </form>
  </section>
<br>
<!--Pikachu PNG -->
<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" id="pikachupngid">
    <img src="../img/pikachupng.png" width="150px" alt="Pikachu Png">
  </div>
</div>
</form>
<br>
<br>
<!-- Condicional IF  SASS -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <p class="ifelse">Please don't hesitate in contact me or follow in my social media.</p>
</div>
</div>

<br>

<hr />
<footer class="footer text-center">

                  <div class="row">
                      <!-- Footer Location-->
                      <div class="col-lg-4 mb-5 mb-lg-0">
                        <img src="../img/kairisorariku.png" width="100%" alt="kairi"> 
                      </div>
   <div class="col-lg-4 mb-5 mb-lg-0 text-center">
      <h4 class="mb-4">Social Media <i class="fas fa-heartbeat"></i></h4>
      <a class="btn btn-outline-primary btn-social mx-1" href="https://steamcommunity.com/id/YukiAo" target="blank"><i class="fab fa-steam"></i></a>
      <a class="btn btn-outline-primary btn-social mx-1" href="https://www.github.com/YukiAegyo/" target="blank"><i class="fab fa-github"></i></a>
  </div>
  <!-- Footer About Text-->
  <div class="col-lg-4">
    <img src="../img/sinon.png" width="100%" alt="Sinon">
  </div>
  </div>

  </footer>
<br>
    <div class="foot text-center">
    <p>Eugenia Simpson ©  2020</p>
  </div>

</div>
</body>
</html>